extends baseEmail

block content
  p Hi #{firstName},
  p  Welcome to Fida Uganda, we're glad to have you 🎉
  p We're all a big family here, so make sure you dive right in and get all your resources to be productive!
  p your account is not yet functional and we are still waiting for human resource to approve you. Please be patient with us
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
    
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`https://fidauganda.com/login`, target='_blank') Get Started
  p If you need any help with getting your account  setup, please don't hesitate to contact us!
  p  support@fidauganda.com